/* 
    Document   : newcss
    Created on : Apr 12, 2011, 7:02:33 PM
    Author     : necto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
* 
{
	padding: 0;
	margin: 0;
}


@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('fonts/DroidSans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('fonts/PTSansNarrow.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    background-color: #9bc5c8;
    background-image: url('images/background.gif');
    background-repeat: repeat-x;
}

table { width: 100%; }
.root{	width: 100%; }
.root tr td h1 { font-family: 'Droid Sans', arial, serif; font-size: 600%; padding: 0;}
.root tr td h3 { font-family: 'PT Sans Narrow', arial, serif; font-size: 200%; }

.root tr td { text-align: center; }
.header
{
	padding: 10px;
	color: grey;
	width: 100%;
}

.search_container
{
	width: 100%;
	text-align: center;
}
.search
{
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	background-color: #eaeaea;
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffff), color-stop(1.0, #eaeaea));
	border: 1px solid #cacaca;
	color: #444;
	font-size: 1.4em;
	margin: 0 10px 25px;
	padding: 8px 10px;
	width: 450px;
	text-align: center;
}

.search_button
{
	-moz-border-radius-bottomleft: 32px;
	-moz-border-radius-bottomright: 32px;
	-moz-border-radius-topleft: 32px;
	-moz-border-radius-topright: 32px;
	-webkit-border-bottom-left-radius: 32px;
	-webkit-border-bottom-right-radius: 32px;
	-webkit-border-top-left-radius: 32px;
	-webkit-border-top-right-radius: 32px;
	background-color: #dedede;
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffff), color-stop(1.0, #dedede));
	border: 1px solid #dedede;
	color: #484848;
	font-size: 1em;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
}

.search_button:hover
{
        background: -moz-linear-gradient(top, #eaeaea, #ffffff);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #dedede), color-stop(1.0, #ffffff));
}

.copyright {
	font-size: 50%;
	font-weight: bold;
	font-style: oblique;
	position: absolute;
	right: 0%
}

.received-panel {
	font-size: 60%;
	background-color: #eeeeee;
}

.genre_list
{
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-box-shadow: 2px 2px 10px #888;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-box-shadow: 2px 2px 10px #888;
	background-color: #f47e7d;
	margin: 25px auto 0;
	padding: 25px 10px;
	text-align: center;
	width: 260px;
}

.artist_list
{
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        -moz-box-shadow: 2px 2px 10px #888;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -webkit-box-shadow: 2px 2px 10px #888;
        background-color: #b5d045;
        margin: 25px auto 0;
        padding: 25px 10px;
        text-align: center;
        width: 260px;
}

.album_list
{
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        -moz-box-shadow: 2px 2px 10px #888;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -webkit-box-shadow: 2px 2px 10px #888;
        background-color: #fb8335;
        margin: 25px auto 0;
        padding: 25px 10px;
        text-align: center;
        width: 260px;
}

.track_list
{
        -moz-border-radius-bottomleft: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        -moz-box-shadow: 2px 2px 10px #888;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -webkit-box-shadow: 2px 2px 10px #888;
        background-color: #81c0c5;
        margin: 25px auto 0;
        padding: 25px 10px;
        text-align: center;
        width: 260px;
}





.gwt-DecoratedTabBar {
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}

.gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/corner.png) no-repeat 0px -55px;
  -background: url(images/corner_ie6.png) no-repeat 0px -55px;
}

.gwt-DecoratedTabBar .tabTopRight {
  background: url(images/corner.png) no-repeat -6px -55px;
  -background: url(images/corner_ie6.png) no-repeat -6px -55px;
}

.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}

html>body .gwt-DecoratedTabBar {
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

.gwt-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
}

.gwt-Button:active {
  border: 1px inset #ccc;
}

.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}

.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}
